* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.grid-item {
  position: relative;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease, filter 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.grid-item:hover {
  filter: brightness(1.1);
}

/* Overlay content */
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 30px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.overlay p {
  font-size: 1.2rem;
}

.adopt,
.tourism,
.rescue,
.sell {
  background: none;
  position: relative;
  overflow: hidden;
}

